<div style="border: white solid; margin-top: 20px; padding: 20px;">
    <ul class="text-danger list-unstyled" *ngIf="invalidFile">
        <li>
          Invalid file please make sure that the file uploaded is an image.
        </li>
      </ul>
      <ul class="text-danger list-unstyled" *ngIf="invalidSize">
        <li>
          Maximum size allow is 5mb please make sure that the file uploaded is 5mb or less.
        </li>
      </ul>
    <div class="row">
        <div class="col-md-5" *ngIf="this.fileArray === undefined">
            <div class="col-md-12" style="text-align: right;">
                <label style="margin-right: 10px;">Upload a image of the vehicle
                </label>
                <a href="javascript:void(0)" (click)="openImageUploadDialog(uploadImageFileInput)" >
                    <i class="fa fa-plus" style="font-size:20px;color:black;" 
                        title="Upload a Icon"></i>
                </a>
            </div>
        </div>
        <div class="col-md-5" *ngIf="this.fileArray !== undefined">
            <div *ngIf="fileArray!=undefined">
                <img [src]='getImage()' style="max-height: 200px;" />
            </div>
            
        </div>
        <div class="col-md-1" *ngIf="this.fileArray !== undefined">
            <a href="javascript:void(0)" (click)="deleteImage()">
                <i class="fa fa-trash" style="font-size:20px;color:black;" title="Delete"></i>
            </a>
        </div>

        <div class="col-md-3">
            <div class="form-label-group"></div>
            <input class="form-control form-control-sm" type="text"
            [value]="this.imageName"
            (keyup)="setName($event)"
            placeholder="Image Name">
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-8"></div>
        <div class="col-md-2" ><button class="btn btn-primary warning"  (click)="cancel()" >Cancel</button></div>
        <div class="col-md-2"><button class="btn btn-primary"  (click)="addImage()" [disabled]="this.imageName === '' || this.fileArray === undefined">Save</button></div>
    </div>
</div>

<input #uploadImageFileInput type="file" style="display: none" accept=".png, .jpg, .jpeg"
    (change)="onFileLoaded($event)" id="uploadImageFileInput" />