<div class="container">
    <h4>Images</h4>
    <div class="row mb-5">
        <button (click)="this.showImageAdd()" class="btn btn-primary mb-5"
            *ngIf="!showImageAddComponent && images.length<3">Add
            Images</button>
        <a style="color: red;" *ngIf="images.length === 0">One photo is needed to add stock Item</a>
        <a style="color: red;" *ngIf="images.length >= 1">A maximum of three photos can be uploaded</a>
    </div>
    <app-stock-image (addStockImage)="this.addImage($event)" (editStockImageEvent)="this.updateImage($event)"
        (cancelImageAdd)="this.hideImageAdd()" [editStockImage]="this.stockImageEdit" *ngIf="showImageAddComponent">
    </app-stock-image>

    <div class="row" *ngIf="images.length>0">
        <div class="col-md-6">
            <h5>Image</h5>
        </div>
        <div class="col-md-4">
            <h5>Description</h5>
        </div>
        <div class="col-md-2">
            <h5>Action</h5>
        </div>
    </div>
    <hr *ngIf="images.length>0" />

    <div class="row mt-5" *ngFor="let image of images">
        <div class="col-md-6">
            <div>
                <img [src]='getImage(image.imageData)' style="max-height: 200px;" />
            </div>
        </div>
        <div class="col-md-4">
            {{image.name}}
        </div>
        <div class="col-md-1">
            <a href="javascript:void(0)" (click)="deleteImage(image)">
                <i class="fa fa-trash" style="font-size:20px;color:black;" title="Delete"></i>
            </a>
        </div>
        <div class="col-md-1">
            <a href="javascript:void(0)" (click)="editImage(image)">
                <i class="fa fa-pencil" style="font-size:20px;color:black;" title="Edit"></i>
            </a>
        </div>
    </div>

    <div class="row mt-5">
        <h4>Accessories</h4>
        <button (click)="this.showAccessoryAdd()" class="btn btn-primary mb-5" *ngIf="!showAccessoryAddComponent">Add
            Accessory</button>
    </div>
    <app-stock-accessory (addStockAccessory)="this.addAccessory($event)"
        (editStockAccessoryEvent)="this.editStockAccessory($event)" (cancelAccessoryAdd)="this.hideAccessoryAdd()"
        [editStockAccessory]="this.stockAccessoryEdit" *ngIf="showAccessoryAddComponent"></app-stock-accessory>

    <div class="row" *ngIf="accessories.length>0">
        <div class="col-md-4">Name</div>
        <div class="col-md-6">Description</div>
        <div class="col-md-2">Action</div>
    </div>
    <hr *ngIf="accessories.length>0" />

    <div class="row mt-5" *ngFor="let accessory of accessories">
        <div class="col-md-4">
            <div>
                {{accessory.name}}
            </div>
        </div>
        <div class="col-md-6">
            {{accessory.description}}
        </div>
        <div class="col-md-1">
            <a href="javascript:void(0)" (click)="deleteAccessory(accessory)">
                <i class="fa fa-trash" style="font-size:20px;color:black;" title="Delete"></i>
            </a>

        </div>
        <div class="col-md-1">
            <a href="javascript:void(0)" (click)="editAccessory(accessory)">
                <i class="fa fa-pencil" style="font-size:20px;color:black;" title="edit"></i>
            </a>
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-5">
        <fieldset>
            <div class="form-group required">
                <div class="row">
                    <div class="col-md-11">
                        <app-text-input formControlName="registrationNumber" [label]="'RegistrationNumber'">
                        </app-text-input>
                    </div>
                    <div class="col-md-1"><a style="cursor: pointer; color: red;" title="required">*</a></div>
                </div>
            </div>
            <div class="form-group required">
                <div class="row">
                    <div class="col-md-11">
                        <app-text-input formControlName="make" [label]="'Make'"></app-text-input>
                    </div>
                    <div class="col-md-1"><a style="cursor: pointer; color: red;" title="required">*</a></div>
                </div>
            </div>
            <div class="form-group required">
                <div class="row">
                    <div class="col-md-11">
                        <app-text-input formControlName="model" [label]="'Model'"></app-text-input>
                    </div>
                    <div class="col-md-1"><a style="cursor: pointer; color: red;" title="required">*</a></div>
                </div>
            </div>
            <div class="form-group required">
                <div class="row">
                    <div class="col-md-11">
                        <app-text-input formControlName="modelYear" [label]="'Model Year'" [type]="'number'">
                        </app-text-input>
                    </div>
                    <div class="col-md-1"><a style="cursor: pointer; color: red;" title="required">*</a></div>
                </div>
            </div>
            <div class="form-group required">
                <div class="row">
                    <div class="col-md-11">
                        <app-text-input formControlName="mileage" [label]="'Mileage'" [type]="'number'">
                        </app-text-input>
                    </div>
                    <div class="col-md-1"><a style="cursor: pointer; color: red;" title="required">*</a></div>
                </div>
            </div>
            <div class="form-group required">
                <div class="row">
                    <div class="col-md-11">
                        <app-text-input formControlName="color" [label]="'Color'"></app-text-input>
                    </div>
                    <div class="col-md-1"><a style="cursor: pointer; color: red;" title="required">*</a></div>
                </div>
            </div>
            <div class="form-group required">
                <div class="row">
                    <div class="col-md-11">
                        <app-text-input formControlName="vIN" [label]="'VIN'"></app-text-input>
                    </div>
                    <div class="col-md-1"><a style="cursor: pointer; color: red;" title="required">*</a></div>
                </div>
            </div>
            <div class="form-group required">
                <div class="row">
                    <div class="col-md-11">
                        <app-text-input formControlName="retailPrice" [label]="'Retail Price'" [type]="'number'">
                        </app-text-input>
                    </div>
                    <div class="col-md-1"><a style="cursor: pointer; color: red;" title="required">*</a></div>
                </div>
            </div>
            <div class="form-group required">
                <div class="row">
                    <div class="col-md-11">
                        <app-text-input formControlName="costPrice" [label]="'Cost Price'" [type]="'number'">
                        </app-text-input>
                    </div>
                    <div class="col-md-1"><a style="cursor: pointer; color: red;" title="required">*</a></div>
                </div>
            </div>
            <ul class="text-danger list-unstyled" *ngIf="errors">
                <li *ngFor="let error of errors">
                    {{error}}
                </li>
            </ul>
            <div class="form-group" *ngIf="success">
                <p class="text-success"> Form submitted successfully.</p>
            </div>
            <div class="mb-5" style="float: right;">
                <button type="submit" class="btn btn-primary mr-2" routerLink="/stock/list">Back to List</button>
                <button *ngIf="!stockItemEdit" type="submit" class="btn btn-primary"
                    [disabled]="form.invalid || this.images.length === 0">Add Stock Item</button>
                <button *ngIf="stockItemEdit" type="submit" class="btn btn-primary"
                    [disabled]="form.invalid || this.images.length === 0">Update Stock Item</button>

            </div>
        </fieldset>
    </form>

</div>